.about{
    display: flex;
}

.about__photo{
    width: 400px;
    height: 500px;
    padding-top: 280px;
    padding-right: 50px;
    vertical-align: middle; 
    object-fit: cover;
}


.about__tittle{
    color: var(--color-blue);
    font-size: 40px;
    font-weight:900;
    padding-top: 140px;
    text-align: end;
}


.about__content{
    font-family: var(--font-family-primary);
    font-size: 18px;
    padding-top: 30px;
    text-align: justify;
    line-height: 1.25;
}


a{
    text-decoration: none;
}

.bold__blue{
    font-weight: bold;
    color: var(--color-blue);
}

.bold__black{
    font-weight: bold;
    color: var(--color-black);
}


.experience{
    display: flex;
    flex-direction: column;
}

.subtitle{
    color: var(--color-blue);
    font-size: 40px;
    font-weight:500;
    padding-top: 25px;
    text-align: center;
    vertical-align:top;
}

.experience__list{
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.experience__edu{
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
