.contents{
display: block;

}

.contents__tittle{
   font-size: 26px;
   font-weight:600;
   display: inline-flex;
   letter-spacing: 1px;
   justify-content: center;

}
.intro__coments{
   font-size: 16px;
   font-style: italic;
   justify-content: center;
}

.intro__icon{
   font-size: 4em;
   color: var(--color-blue1);
}
