.inbox{
    display: flex;
    flex-direction:column;
    /*background-image: linear-gradient(to right, var(--color-blue1), var(--color-black));*/
}

.inbox__add{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.form-item {
    width: 50%;
    min-height: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 6px;
    border-style:solid;
  }

.form-item#attachments{
    border-style: none;
}

form{
    box-sizing: border-box;
}


label{
    color: var(--color-white);
    font-weight: 500;
}

input{
    background-color: var(--color-white);
}
