.footer {
    display: flex;
    background-color: var(--color-black);
    color: var(--color-white);
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
}


.footer__contacts{
    display: block;
    font-size: var(--font-size-default);
    padding-top: 30px;
    line-height: 60px;
}

.footer__contacts-tittle{
    color: var(--color-blue);
    font-size: 28px;
    font-weight: 900;
    padding-top: 25px;
}


.contacts{
    display: block;
    text-decoration: none;
    color: var(--color-white);
}

.footer__rede{
    display: block;
    font-size: 20px;

    /*padding-top: 150px;*/
    margin-right: 50px;
}

.footer__add{
    /*padding-top: 150px;*/
    line-height: 25px;
    text-align: center;
}

.footer__icon{
    text-decoration: none;
    font-size: 1em;
    color: var(--color-blue);
    letter-spacing: 7px;
}
 