.footer{
    display: flex;
    height: 250px;
    background-color: var(--color-black);
    color: var(--color-white);
}

.footer__contacts-tittle{
    color: var(--color-blue);
    font-size: 35px;
    font-weight: 900;
 }
.footer__contacts{

    font-size: var(--font-size-default);
    text-align:start;
    padding-left: 100px;
    padding-top: 30px;
    line-height: 50px;
}

.contacts{
    display: block;
    text-decoration: none;
    color: var(--color-white);
}
 