.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background-color: white;
    box-shadow: 0 5px 1em #cecece;
}

.header__logo{
justify-content: flex-start;
width: 200px;
margin-right: 64;
}