.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: #cecece;
}

.header__logox{
justify-content: flex-start;
width: 100px;
margin-right: 64;
}