.header{
    display: flex;
    align-items: center;
    position: fixed;
    height: 100px;
    background-color: var(--color-white);
    /*border-bottom: var(--color-purple);*/
    box-shadow: 0 12px 1em #cecece;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: var(--color-white);

}

.menu__item{
    padding: 0 25px 0;
    text-decoration: none;
    border-right: 2px solid var(--color-purple);
    color: var(--color-blue);
}

.menu__item:last-child{
    border-right: none;
}

.header__logo{
    margin-left: 50px; 
    width: 200px;
    margin-right: 450px;
}