.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: white;

}

.menu__item{
    justify-content: space-between;
    margin-right: 50px;
    border-right: 1px solid #4cc6ff;
}

.header__logo{
    margin-left: 50px; 
    width: 200px;
    margin-right: 400px
}