.intro{
   text-align: center;
   font-size: large;
   line-height: 25px;
}

.intro__tittle{
   font-size: 22px;
   font-weight:600;
   display: inline-flex;
   letter-spacing: 1px;

}

.intro__icon{
   font-size: 4em;
   color: var(--color-blue1);
}
.intro__photo{
width: 1366px;
object-fit:cover;
/*border: 3px solid var(--color-black);
border-radius: 6px;*/

}