.intro{
   display: flex;
   text-align: center;
   font-size: large;
   line-height: 25px;
   font-size: 16px;
   justify-content: flex-start;
}

.intro__tittle{
   font-size: 22px;
   font-weight:600;
   display: inline-flex;
   letter-spacing: 1px;

}
.intro__coments{
   display: block;
   font-style: italic;
   justify-content: flex-start;
}

.intro__icon{
   display: inline-flex;
   font-size: 4em;
   color: var(--color-blue1);
}
.intro__photo{
width: 1349px;
object-fit:cover;

/*border: 3px solid var(--color-black);
border-radius: 6px;*/

}