.projects{
    display: flex;
    background-color: var(--color-black);

}

.projects__list{
    width: 50%;
    font-size: 22px;
    text-align: center;
    line-height: 200px;
}

.projects__description{
    width: 50%;
    text-align: center;
    color: aliceblue;
}
