.projects{
    display: flex;
    
    margin-top: 100px;

}

.projects__list{
    width: 50%;
    font-size: 22px;
    text-align: center;
    line-height: 100px;
}

.projects__description{
    width: 50%;
    text-align: center;
    color: aliceblue;
}
