.banner{
    height: 720px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 0;
}

@media only screen and (max-width: 480px){

    .banner{
        height: 510px;
    }
 }