.icon__large{
    font-size: 4em;
    color: var(--color-blue1);
 }

.icon__small{
    text-decoration: none;
    text-align: end;
    font-size: 1em;
    color: var(--color-blue);
    letter-spacing: 7px;
}

i:hover{
    transform: translateX(1px) rotate(10deg) translateY(0.3px) scale(1.2);
    transition-duration: 1000ms;
}